<html>
  <head></head>
  <body>
      <p>
        <%= $welcomeMessage %>
      </p>
        <p><%= $instructions %></p>
        <form>
          <input type='text' name='guess' />
          <input type='submit' value='Guess' />
        </form>
        <p><%= $status %></p>
        <p><%= $answer %></p>
        <p align="right"><%= $listofguessedright %></p>
        <p align="right"><%= $listofguessedwrong %></p>
        <p><%= $livesMessage %></p>
        <p><%= $lostgame %></p>
  </body>
</html>
